.destination
  padding-bottom: 114px
  &__wrap
    display: flex
    align-items: center
    justify-content: space-between
    gap: 30px
  &__map
    border-radius: 50%
    overflow: hidden
    width: 50%
  &__content
    width: 50%
  &__title
    padding-bottom: 32px
    font-weight: 600
    font-size: 36px
    line-height: 52px
  &__text
    font-size: 18px
    line-height: 32px