// GENERAL PROJECT STYLES

*
  box-sizing: border-box
  outline: none

html
  overflow-x: hidden
body, input, textarea, table
  font-family: 'Jost', sans-serif
body
  font-size: 14px
  line-height: 1.45
  margin: 0
  width: 100%
  padding: 0
  overflow-x: hidden
  display: flex
  flex-direction: column
  justify-content: flex-start
  min-width: 320px
  position: relative

html
  height: 100%

header,
footer,
section,
main
  position: relative

.container
  max-width: 1176px
header
  .container
    max-width: 1327px

main
  min-width: 100vh
  &.blur
    background: rgba(255, 255, 255, 0.8)
    filter: blur(16px)
    padding-top: 116px
    &.home
      padding-top: 0

input[type=search]::-ms-clear
  display: none
  width: 0
  height: 0

input[type=search]::-ms-reveal
  display: none
  width: 0
  height: 0

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
  display: none

.container
  width: 100%
  padding: 0 15px
  margin: 0 auto
  position: relative

ul, nav
  list-style-type: none
a
  text-decoration: none
h1, h2, h3, p, ul
  margin: 0
  padding: 0
.button
  border-radius: 40px
  display: inline-flex
  justify-content: center
  align-items: center
  cursor: pointer
  border: none
  white-space: nowrap
.img
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  img
    width: 100%
    height: 100%
    object-fit: cover
::placeholder
  color: #666

input, textarea
  outline: none
  &:focus:required:invalid
    border-color: red
  &:required:valid
    border-color: green

h1.title
  font-weight: 600
  font-size: 36px
  padding-bottom: 36px
h2.title
  font-weight: 600
  font-size: 48px
  line-height: 58px
h3.title
  font-weight: 600
  font-size: 36px
.title
  &_center
    text-align: center
button
  border: none
  background: $red
  color: #fff
  border-radius: 40px
address
  font-style: normal