.header
  background: url("../images/dist/bg.png") no-repeat
  background-size: 100%
  &__wrap
    padding: 24px 0
    display: flex
    align-items: center
    justify-content: flex-start
  &__logo
    margin-right: 62px
  &__city
    display: flex
    align-items: center
    justify-content: flex-start
    cursor: pointer
    background-color: #fff
    padding: 12px 20px 12px 22.5px
    border-radius: 40px
    margin-right: 24px
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08)
    svg
      margin-right: 10px
  &__menu
    display: flex
    align-items: center
    justify-content: flex-start
    &-item
      cursor: pointer
      margin-right: 24px
      &:last-of-type
        margin-right: 0
      a
        color: #000
        font-size: 16px
        font-weight: 300
        white-space: nowrap
  &__schedule
    display: flex
    align-items: center
    justify-content: flex-start
    cursor: pointer
    background-color: #fff
    padding: 12px 20px 12px 22.5px
    border-radius: 40px
    margin: 0 12px 0 auto
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08)
    svg
      margin-right: 12.5px
  &__lk
    display: flex
    align-items: center
    justify-content: flex-start
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08)
    border-radius: 40px
    background-color: #fff
    padding: 4px 4px 4px 12px
  &__search
    margin-right: 19px
    cursor: pointer
  &__user
    display: flex
    align-items: center
    justify-content: center
    background-color: $yellow
    width: 36px
    height: 36px
    border-radius: 50%
    margin-left: 8px
    cursor: pointer