.header
  //overflow: hidden
  &_page
    border-radius: 0 0 24px 24px
    margin-bottom: 24px
    position: relative
    background: url("../images/dist/bg.png") no-repeat
    background-size: 100%
    &.open
      background: transparent
      z-index: 3
      .header__bg
        background: transparent
  &_main
    position: absolute
    left: 0
    right: 0
    top: 0
    z-index: 3
  &.blur
    position: absolute
    left: 0
    right: 0
    top: 0
    z-index: 3
    & .header__bg
      background-color: rgba(255, 255, 255, 0.8)
      filter: blur(16px)
  &__bg
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    z-index: 1
    background: url("../images/dist/bg.png") no-repeat
    background-size: 100%
  &__wrap
    padding: 24px 0
    display: flex
    align-items: center
    justify-content: flex-start
    position: relative
    z-index: 2
    @include max(1279)
      padding: 10px 0 20px
  &__logo
    margin-right: 62px
    svg
      width: 166px
      height: 18px
      fill: #000
    @include between(1280, 1365)
      margin-right: 30px
    @include max(1279)
      margin-right: auto
      svg
        width: 148px
        @include max(374)
          width: 120px
  &__city
    margin-right: 24px
    position: relative
    &-main
      display: flex
      align-items: center
      justify-content: flex-start
      cursor: pointer
      padding: 12px 20px 12px 22.5px
      background-color: #fff
      border-radius: 40px
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08)
      @include max(1279)
        padding: 10px 20px
        box-shadow: none
    &-confirm
      position: absolute
      top: calc(100% + 16px)
      left: 50%
      transform: translateX(-50%)
      background-color: #fff
      border-radius: 12px
      z-index: 2
      min-width: 307px
      display: none
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08)
      &::after
        content: ''
        position: absolute
        bottom: 100%
        left: 50%
        transform: translateX(-50%)
        border-left: 6px solid transparent
        border-right: 6px solid transparent
        border-bottom: 6px solid #fff
        filter: drop-shadow(0 7px 40px rgba(0,0,0,.09))
        height: 0
        width: 0
    &-actual
      font-weight: 600
      font-size: 18px
      line-height: 28px
      padding: 12px 16px
      color: #262626
      border-bottom: 1px solid #F0F0F0
      white-space: nowrap
      @include max(1279)
        white-space: unset
      .red
        color: $red
    &-buttons
      display: flex
      align-items: center
      justify-content: flex-start
      gap: 10px
      padding: 16px
    &-button
      padding: 12px 20px
      font-size: 14px
      cursor: pointer
      line-height: 20px
    &-true
      background: #66AFD9
      color: #fff
    &-false
      color: #66AFD9
      background-color: #fff
      border: 1px solid #66AFD9
    @include max(1279)
      display: none
    svg
      width: 16px
      height: 19px
      fill: #000
      margin-right: 10px
  &__menu
    display: flex
    align-items: center
    justify-content: flex-start
    @include max(1279)
      display: none
    &-item
      position: relative
      cursor: pointer
      margin-right: 24px
      &:last-of-type
        margin-right: 0
      a
        color: #000
        font-size: 16px
        font-weight: 300
        white-space: nowrap
      &.open
        &::after
          position: absolute
          content: ''
          width: 24px
          height: 4px
          border-radius: 2px
          background-color: $black
          bottom: -10px
          left: calc(50% - 12px)
          overflow: hidden
        a
          font-weight: 400
  &__schedule
    display: flex
    align-items: center
    justify-content: flex-start
    cursor: pointer
    background-color: #fff
    padding: 12px 20px 12px 22.5px
    border-radius: 40px
    margin: 0 12px 0 auto
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08)
    @include max(1279)
      padding: 12px
      font-size: 12px
    svg
      margin-right: 12.5px
      @include max(1279)
        margin-right: 8px
  &__lk
    display: flex
    align-items: center
    justify-content: flex-start
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08)
    border-radius: 40px
    background-color: #fff
    padding: 4px 4px 4px 12px
    @include max(1279)
      display: none
    .search
      display: block
      margin-right: 19px
      cursor: pointer
      width: 17.5px
      height: 17.5px
      fill: #000
  &__user
    display: flex
    align-items: center
    justify-content: center
    background-color: $yellow
    width: 36px
    height: 36px
    border-radius: 50%
    margin-left: 8px
    cursor: pointer
.burger
  display: none
  position: relative
  justify-content: center
  align-items: center
  width: 40px
  height: 40px
  background-color: #fff
  border-radius: 50%
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08)
  &::before, &::after
    content: ''
    position: absolute
    width: 17px
    height: 2px
    border-radius: 1px
    display: block
    background-color: #000
    transform-origin: left center
    left: calc(50% - 8.5px)
    transition: all 0.3s ease
  &::before
    top: calc(50% - 6px)
  &::after
    bottom: calc(50% - 6px)
  span
    width: 17px
    height: 2px
    border-radius: 1px
    display: block
    background-color: #000
  &.active
    span
      display: none
    &::before, &::after
      width: 20px
      left: calc(50% - 7px)
    &::before
      top: calc(50% - 8px)
      transform: rotate(45deg)
    &::after
      bottom: calc(50% - 8px)
      transform: rotate(-45deg)
  @include max(1279)
    display: flex
.mobile-menu
  display: none
  flex-direction: column
  justify-content: flex-start
  align-items: center
  gap: 23px
  width: 100vw
  height: 100vh
  position: absolute
  top: 0
  left: calc(100vw + 10px)
  transition: all 0.3s ease
  background-color: #fff
  z-index: 2
  padding-top: 76px
  &.open
    left: 0
  @include max(1279)
    display: flex
  &__city
    display: flex
    align-items: center
    justify-content: flex-start
    background-color: #fff
    border-radius: 40px
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08)
    @include max(1279)
      position: relative
    svg
      width: 16px
      height: 19px
      fill: #000
      margin-right: 8px
  &__lk
    display: flex
    align-items: center
    justify-content: flex-start
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08)
    border-radius: 40px
    background-color: #fff
    padding: 4px 4px 4px 12px
    font-weight: 300
    .search
      display: block
      margin-right: 16px
      width: 17.5px
      height: 17.5px
      fill: #000
  &__user
    display: flex
    align-items: center
    justify-content: center
    background-color: $yellow
    width: 36px
    height: 36px
    border-radius: 50%
    margin-left: 8px
  &__menu
    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: column
    gap: 24px
  &__item a
    color: $black
    font-size: 18px
    line-height: 26px